/*========= RESET SETTINGS ==========*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

/*========= HERO SECTION ==========*/

.hero-section {
  width: 100%;
  height: 100vh;
  background-color: #34365a;
  position: relative;
}
.hero-text {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
}

.hero-text h1 {
  color: white;
  font-size: 50px;
}

.hero-text p {
  color: white;
  font-size: 20px;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}
.btn1 {
  background-color: #34365a;
  color: white;
  padding: 1rem 2rem;
  border: 3px solid white;
  border-radius: 30px;
  width: 260px;
  height: 60px;
  font-size: 20px;
}
.btn2 {
  background-color: white;
  color: #34365a;
  padding: 1rem 2rem;
  border: 3px solid white;
  border-radius: 30px;
  width: 260px;
  height: 60px;
  font-size: 20px;
}

/*========= HERO CONTENT ==========*/

.hero-content {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  top: 100px;
  overflow: hidden;
}

.hero-image {
  width: 700px;
  height: 90vh;
  background-image: url(images/1.jpg);
  background-size: cover;
  background-position: center;
  margin-left: -10rem;
}
.hero-card {
  width: 500px;
  height: 500px;
  background-color: white;
  position: absolute;
  top: 15vh;
  margin-right: -680px;
  display: flex;
  flex-direction: column;
}

.btn3 {
  background-color: #34365a;
  color: white;
  padding: 1rem 2rem;
  border: none;
  border-radius: 30px;
  width: 200px;
  height: 60px;
  font-size: 20px;
  margin-top: 4rem;
  margin-left: 2rem;
}

.hero-card h2 {
  color: black;
  padding: 1rem;
  font-size: 30px;
  font-weight: 900;
}

.hero-content p {
  color: black;
  line-height: 1.6;
  padding: 1rem;
}

/*========= ICONS-BOX SECTION ==========*/

.icons-box {
  width: 100%;
  padding: 2rem;
  margin-top: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}
.first-icons,
.second-icons {
  display: flex;
  justify-content: center;
  gap: 20rem;
  height: 50vh;
}

.icon {
  background-color: #f1bb13;
  height: 120px;
  width: 120px;
  border-radius: 50%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-image {
  position: absolute;
  top: 3rem;
  left: -2rem;
}

.icon-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 350px;
}

.icon-text h3 {
  color: black;
  font-size: 30px;
  font-weight: 300;
  line-height: 1.2;
  margin-bottom: 0.5rem;
}

.icon-text p {
  line-height: 1.6;
  font-style: italic;
  text-align: center;
}

/*========= ABOUT US SECTION ==========*/

.about-us {
  width: 100%;
  height: 900px;
  display: flex;
  justify-content: space-between;
  padding: 4rem;
}

.right {
  width: 48%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.about-1 {
  width: 80%;
  height: 38vh;
  background-color: #f1bb13;
  padding: 5rem;
  border-bottom-right-radius: 15%;
  border-bottom-left-radius: 15%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-left: 4rem;
}

.about-1 h2 {
  font-size: 40px;
  font-weight: 900;
}

.about-2 {
  width: 100%;
  height: 60vh;
  padding: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 1rem;
}

.about-2 p {
  line-height: 1.6;
  font-size: 20px;
  font-weight: 400px;
}

.left {
  width: 48%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  position: relative;
  display: flex;
  flex-direction: column;
}

.about-3 {
  width: 100%;
  height: 49vh;
}

.about-3-image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  position: absolute;
  top: 15%;
}

.about-4 {
  width: 100%;
  height: 49vh;
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.about-4 img {
  width: 80px;
  background-color: #34365a;
  margin-bottom: 2rem;
  border-radius: 50%;
  padding: 1rem;
}
.about-4-text {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.text h2 {
  font-size: 2rem;
  color: #34365a;
}

.text p {
  font-size: 1.1rem;
  line-height: 1.6;
  margin-top: 1rem;
  color: #222;
}

/*========= GIRL IMAGE SECTION ==========*/

.girl {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  padding: 2rem;
  position: relative;
}

.girl-1,
.girl-2 {
  width: 48%;
  height: 100%;
  background-color: #f1bb13;
}

.girl-1 {
  display: flex;
  flex-direction: column;
  padding: 5rem;
}

.girl-1 p {
  color: black;
  line-height: 1.6;
  font-size: 25px;
  margin-bottom: 1rem;
}

.girl-1 h2 {
  color: black;
  line-height: 1.6;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 1rem;
}

.girl-2 img {
  position: absolute;
  right: 0;
  width: 700px;
  height: 90vh;
  background-size: cover;
}

/*========= SERVICES SECTION ==========*/

.services {
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 2rem;
}
.service-1 {
  width: 50%;
  height: 100%;
}

.service-1-upper {
  width: 100%;
  height: 60%;
  background-image: url(images/about-us/8.png);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  padding: 5rem;
  gap: 1rem;
}

.service-1-upper img {
  border: 5px solid white;
  border-radius: 50%;
}

.service-1-upper h2 {
  color: white;
  font-size: 40px;
}

.service-1-down {
  width: 100%;
  height: 40%;
  display: flex;
}

.service-1-down img {
  width: 45%;
}

.part-2 {
  width: 55%;
  height: 100%;
  background-color: #f1bb13;
  display: flex;
  flex-direction: column;
  padding: 3rem;
}

.part-2 h2 {
  font-size: 35px;
  font-weight: 900;
  margin-bottom: 2rem;
}

.social-icons {
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
}

.social-icons img {
  width: 30px;
}

.service-2 {
  width: 50%;
  height: 100%;
  background-color: violet;
  display: flex;
  flex-direction: column;
}

.service-2-upper {
  width: 100%;
  height: 50%;
  background-color: #34365a;
}

.service-2-second {
  width: 100%;
  height: 50%;
  background-image: url(images/about-us/9.jpg);
  background-size: cover;
  background-position: center;
}

.service-2-text {
  padding: 3rem;
}

.service-2-text h2 {
  color: white;
  margin-bottom: 2rem;
}

.service-2-text p {
  color: white;
  margin-bottom: 2rem;
}

/*========= OUR TEAM SECTION ==========*/

.our-team {
  width: 100%;
  height: 100%;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.container img {
  width: 100%;
  height: 100%;
}

.container-card {
  width: 100%;
  height: 100%;
  background-color: #34365a;
  position: relative;
  bottom: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.float-card {
  width: 46%;
  height: 60%;
  background-color: white;
  position: relative;
  bottom: 20vh;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.float-card h2 {
  font-size: 35px;
  font-weight: 900;
  text-align: center;
  margin-bottom: 2rem;
}

.float-card p {
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  margin-bottom: 1rem;
}

#title {
  font-size: 40px;
  font-weight: 900;
  color: white;
}

/*========= PORTFOLIO ==========*/

.portfolio {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.portfolio-box {
  background-color: white;
  width: 15%;
  height: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
  gap: 2rem;
  position: relative;
  top: 5rem;
}

.portfolio-box p {
  font-size: 20px;
  font-weight: 700;
  color: rgb(102, 102, 102);
}

.portfolio-box h3 {
  font-size: 60px;
  font-weight: 900;
  color: rgb(241, 187, 19);
}

#image {
  width: 75%;
}
